h1 {
    font-size: 32px;
    color: darkgreen;
    text-align: center;
}

p {
    color: blue;
    font-size: 18px;
    line-height: 1.5;
}

img {
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}